<!-- Validation failure messages -->
<% if @game.errors.any? %>
<% @game.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Game</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <form action="/create_game" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for game_type -->
      <div class="form-group">
        <label for="game_type" class="control-label">
          Game type
        </label>

        <%= select_tag(:game_type, options_for_select([['Normal', 1], ['Celebrity', 2], ['College Championship', 3], ['Teachers\' Tournament', 4], ['Teen Tournament', 5], ['Tournament of Champions', 6]]), :class => "form-control") %>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" name="date" id="date">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <button class="btn btn-success">
        Create Game
      </button>
      or
      <a href="/games">Cancel</a>
    </form>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
